
@tailwind base;

@font-face {
    font-family: 'poppins';
    src: url('./poppins.woff2');
   
}

@font-face {
    font-family: 'poppins';
    src: url('./popinssemibold.woff2');
    font-weight: 600; /* You may need to adjust the numeric value for semibold */
    font-style: normal;

   
}

@font-face {
    font-family: 'nunito';
    src: url('./Nunito.woff');
   
}
@font-face {
    font-family: 'Inter';
    src: url('./Inter.woff2') ;
    font-style: normal;
}@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaDisplayTRIAL-Bold-BF64b75504296e4.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaDisplayTRIAL-Light-BF64b755042b875.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaDisplayTRIAL-Semibold-BF64b755044a586.woff') format('woff');
    font-weight: 600; /* You may need to adjust the numeric value for semibold */
    font-style: normal;
}

@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaHeadlineTRIAL-Bold-BF64b7550428366.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaHeadlineTRIAL-Regular-BF64b755042170c.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaDisplayTRIAL-Black-BF64b755043ed40.woff') format('woff');
    font-weight: 900; /* You may need to adjust the numeric value for black */
    font-style: normal;
}

@font-face {
    font-family: 'GesturaDisplay';
    src: url('./gestura-display-font/GesturaHeadlineTRIAL-Black-BF64b7550440ccc.woff') format('woff');
    font-weight: 900; /* You may need to adjust the numeric value for black */
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./SFProDisplayd.OTF');
    font-weight: 200 400;
    font-style: normal;
}
@font-face {
    font-family: 'ABeeZee';
    src: url('./ABeeZee.woff2');
    
}
@font-face {
    font-family: 'Assistant';
    src: url('/public/fonts/Assistant.woff2') format('woff2');
}


body{
    font-family: nunito; 
}



